.textme{width: 70px; height: 40px; margin-left: 30px;}
  .link-tag{
    width: 100%; height: 50px; display: flex; padding-top: 30px;
    justify-content: space-between; align-content: center; border: 1px solid #d3d0d0;
     /* position: fixed;top: 0px; */
  }
  .iconz{padding: 1px 15px; margin-right: 20px; text-decoration: none; color:black}
  .iconz:hover{color:red;}


  @media (max-width: 700px) {
 .iconz{font-size: x-small; padding: 1px 8px; margin-right: 10px;}
 .textme{font-size: x-small;}   
  }

  @media (max-width: 600px) {
    .iconz{font-size: xx-small; padding: 1px 8px; margin-right: 10px;}
    .textme{font-size: x-small;}   
     }

     @media (max-width: 900px) {
      .iconz{font-size: small; padding: 1px 8px; margin-right: 10px;}
      .textme{font-size: x-small;}   
       }